@model InstituteOfFineArts.Controllers.AdministratorsController
@{
    ViewData["Title"] = "Change password";
    ViewData["MyAccount"] = "active";
}

@{
    if (TempData["Faile"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="right: -6px;">&times;</a>
            <strong>Failed! @TempData["Faile"]</strong>
        </div>
    }
}

<div class="row well">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="form-group">
                <label asp-for="Input2.OldPassword"></label>
                <input asp-for="Input2.OldPassword" class="form-control" />
                <span asp-validation-for="Input2.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input2.NewPassword"></label>
                <input asp-for="Input2.NewPassword" class="form-control" />
                <span asp-validation-for="Input2.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input2.ConfirmPassword"></label>
                <input asp-for="Input2.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input2.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
