@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-more" style="background-image: url('https://znews-photo.zadn.vn/w660/Uploaded/JAC1_N3/2013_08_12/fpt%20arena%20-%20Anh4.jpg');">
                </div>
                <form method="post" class="login100-form validate-form">
                    <span class="login100-form-title p-b-43">
                        Enter your email
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default login100-form-btn">Submit</button>
                    <p>&nbsp;</p>
                    <p>
                        <a asp-page="./Login">< Back to Login</a>
                    </p>
                </form>

            </div>
        </div>
    </div>


</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
