@model InstituteOfFineArts.Areas.Identity.Data.CustomUser;
@{
    ViewData["Title"] = "Details";
    ViewData["Competition"] = "active";
}

<div>
    <a class="btn btn-default" onclick="goBack()"><span class="ti-control-backward"></span></a>
</div>
<hr />
<dl class="dl-horizontal">
    <dt>
        User Name
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UserName)
    </dd>
    <dt>
        Role
    </dt>
    <dd>
        @ViewData["Role"]
    </dd>
</dl>

<script>
    function goBack() {
        window.history.back();
    }
</script>