
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold">how to attend ?</h1>
                <p class="breadcrumb-custom"><a href="index.html">Home</a> <span class="mx-2">&gt;</span> <span>Attend</span></p>
            </div>
        </div>
    </div>
</div>
<div class="attended">

    <h5> <strong> </strong> <strong> FOLLOW THE PARTICIPATION </strong> </h5>
    <p> <strong> Participants: </strong> </p>
    <p> All students of the Academy's fine arts and graphics </p>
    <p> No limit to the number of designs of each individual participating in the contest </p>
    <p> <strong> Request for work: </strong> </p>
    <p> Creative within the framework, must not violate the fine customs, or strong religious nature that offends viewers </p>
    <p> Copying or copying pictures of other people is prohibited, splash art of other painters in any form </p>
    <p> Pictures that do not guarantee the above rules are invalid. The organizers do not return the submitted pictures in all cases. </p>
    <p> Works can be created from 3D software, but must still be exported in the standard format proposed by the BTC </p>
    <p> Submissions may be hand-drawn or digital but must be sent in .JPG / PNG format (scan or take a picture of the hand drawing clearly) and must be signed by the author such as day, month, year completed. </p>
    <p> <strong> Specifications </strong><strong> <strong> (printing category): </strong> </strong> </p>
    <p> Photos are in PNG or JPG, pixel 300dpi or A4 paper size </p>
    <h5> <strong> FORMS OF ATTENDANCE </strong> </h5>
    <ul>
        <li><strong> <em> Email </em> </strong> <em>: </em> <a href="mailto:fan@arena.edu.vn"> fan@arena.edu.vn </a> </li>
        <li><strong> <em> Via website: </em> </strong> http://arena.fpt.edu.vn/ </li>
    </ul>
    <p>&nbsp;</p>
    <div class="container">
        <center><h2 class="mb-0 text-primary">Form Submit</h2></center>
        <div class="row ">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="#" class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Your Name</label>
                            <input type="text" id="fname" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Exam Name</label>
                            <input type="text" id="lname" class="form-control" required>
                        </div>
                    </div>

                    <div class="row form-group">

                        <div class="col-md-12">
                            <label class="text-black" for="phone">Your Phone Number</label>
                            <input type="tel" id="phone" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="file-with-multi-file">Choose file</label>
                            <input type="file" id="file-with-multi-file" class="input-default-js form-control" data-multiple-target="{target} files selected"
                                   multiple required>

                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Description</label>
                            <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Submit" class="btn btn-primary py-2 px-4 text-white">
                        </div>
                    </div>


                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>