

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold">how to attend ?</h1>
                <p class="breadcrumb-custom"><a href="index.html">Home</a> <span class="mx-2">&gt;</span> <span>Attend</span></p>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="guidance">
    <h2>Hướng dẫn đăng kí tham gia thi</h2>
    <p>Để tham gia cuộc thi sinh viên cần thực hiện các bước sau:</p>
    <p>&nbsp;</p>
    <h4>Bước 1: Chọn thẻ "Login" trên trang chủ.</h4>
    <p>&nbsp;</p>
    <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/52880656_329842994543424_6672809921488093184_n.png?_nc_cat=111&_nc_oc=AQn14cQu9yKPsEe65vl_HmVo0bbPWIF1xphxzamuUdY06jDOAfHJOkNWIl6Qmd-U9QU&_nc_ht=scontent.fhan2-2.fna&oh=0003274ee7282e14da78341810755168&oe=5D1FC593" width="1000px">
    <p>&nbsp;</p>
    <h4>Bước 2: Đăng nhập bằng tài khoản sinh viên</h4>
    <p>&nbsp;</p>
    <img src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.15752-9/52849502_401014620455995_3335445810794987520_n.png?_nc_cat=107&_nc_oc=AQm5cEM8c8Uxmm2Fsc_RKy9OibJ0m3g2R-Ias8CBBG0EFJzLy1QQkOs2mhCOzW3ygzI&_nc_ht=scontent.fhan2-3.fna&oh=e8a732aabc18cb9ffc9193b1c84f0aa4&oe=5CE91187" width="1000px">
    <p>&nbsp;</p>
    <h4>Bước 3: Sau khi đăng nhập thành công, sinh viên chọn thẻ "Attend" trên trang chủ.</h4>
    <p>&nbsp;</p>
    <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/52880656_329842994543424_6672809921488093184_n.png?_nc_cat=111&_nc_oc=AQn14cQu9yKPsEe65vl_HmVo0bbPWIF1xphxzamuUdY06jDOAfHJOkNWIl6Qmd-U9QU&_nc_ht=scontent.fhan2-2.fna&oh=0003274ee7282e14da78341810755168&oe=5D1FC593" width="1000px">
    <p>&nbsp;</p>
    <h4>Bước 4: Điền đầy đủ thông tin vào form dự thi và ấn nộp.</h4>
    <p>&nbsp;</p>
    <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/53074162_378536439646341_406864047246409728_n.png?_nc_cat=111&_nc_oc=AQkQWabTeMMPgkH5Lluo-PGTWKtJd6wvHNH69bBnd72rQKzdYC_ZlDwQT9Lezat2xXw&_nc_ht=scontent.fhan2-2.fna&oh=ac2d9a718d6560ad4a544698c2a7c73e&oe=5D262A6E" width="1000px">
    <p>&nbsp;</p>
    <p>Mọi thắc mắc cần hỗ trợ, hãy gọi về hotline của Ban tổ chức cuộc thi</p>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>