
</section>

<style>
    .s-pageheader--home {
        min-height: 255px;
        padding-top: 222px;
    }
</style>

<div class="guidance" style="background-color:#f6f6f6">
    <p>&nbsp;</p>
    <div class=" container"> 
    <h2>Instructions for registering for the exam</h2>
    <p>To participate in the student contest, the following steps should be taken:</p>
    <h4>Step 1: Select the "Login" tab on the homepage.</h4>
    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/53373520_633965547046800_1242553713977982976_n.jpg?_nc_cat=105&_nc_oc=AQnOwHybpAOQywjRmuoLPjooLY0daYxO41N0wH4imOvTV_7p40oyTai0JDMK2WKGsgk&_nc_ht=scontent.fhan2-4.fna&oh=86af5f9487aacd7bf267270d88d14727&oe=5D179ADC" width="1000px">
    <p>&nbsp;</p>
    <h4>
        Step 2: Login with student account
    </h4>
    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/54006196_2150411038602614_2698692539518550016_n.png?_nc_cat=106&_nc_oc=AQlCMmJIoWG4Dcbice1eA36dAf7BOKlPEWqBnvotgOhj_D5BsWxQ1a259SKhuFSp7Mw&_nc_ht=scontent.fhan2-1.fna&oh=30d4450867b436667053469a5f0158f3&oe=5CE1F065" width="1000px">
    <p>&nbsp;</p>
    <h4>Step 3: After successful login, students select "Attend" card on the homepage.</h4>
    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/52989630_628258307629340_1743280019460849664_n.jpg?_nc_cat=104&_nc_oc=AQlno3YKfO-hygs5DAZanJO5uItmVn3HCrvhExwB261IM4mE5gZkVyJgB_FFbzhl-uo&_nc_ht=scontent.fhan2-4.fna&oh=485045a7d316f3e9f8091a93d8976851&oe=5D10F101" width="1000px">
    <p>&nbsp;</p>
    <h4>
        Step 4: Complete the information on the exam form and submit.
    </h4>
    <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/53074162_378536439646341_406864047246409728_n.png?_nc_cat=111&_nc_oc=AQkQWabTeMMPgkH5Lluo-PGTWKtJd6wvHNH69bBnd72rQKzdYC_ZlDwQT9Lezat2xXw&_nc_ht=scontent.fhan2-2.fna&oh=ac2d9a718d6560ad4a544698c2a7c73e&oe=5D262A6E" width="1000px">
    <p>&nbsp;</p>
    <p>If you have any questions, please call the hotline of the Contest Organizer</p>
</div>
</div>
