
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(https://znews-photo.zadn.vn/w660/Uploaded/JAC1_N3/2013_08_12/fpt%20arena%20-%20Anh6.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">

                <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">fpt arena multimedia</h1>
                <p><a href="#" class="btn btn-primary py-3 px-5 text-white">Cuộc thi đang diễn ra</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center no-gutters align-items-stretch overlap-section">
        <div class="col-md-4">
            <div class="feature-1 pricing h-100 ">
                <a href="http://arena.fpt.edu.vn/gioi-thieu/" class="my-4 heading  text-left fa fa-university"> FPT-ARENA</a>
                <p>FPT-Arena là trung tâm thuộc tập đoàn FPT liên kết với tập đoàn đào tạo CNTT toàn cầu Aptech.</p>
                <p>Được thành lập vào tháng 7-2004, FPT-Arena là trung tâm đầu tiên đào tạo Mỹ thuật đa phương tiện và cũng là trung tâm đầu tiên triển khai chương trình AMSP của Arena Ấn Độ tại Việt Nam.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="free-quote bg-dark h-100">
                <a href="http://arena.fpt.edu.vn/gioi-thieu/bao-chi/" class="my-4 heading  text-left fa fa-newspaper"> BÁO CHÍ NÓI VỀ FPT-ARENA</a>
                <p>Với những nỗ lực trong giảng dạy & đào tạo, FPT-Arena đang tạo ra một cộng đồng web design trẻ trung, năng động, có chuyên môn cao và đam mê với nghề.</p>
                <p>- Báo Tiền Phong -</p>
                <a href="http://arena.fpt.edu.vn/gioi-thieu/bao-chi/"> Xem thêm >></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-3 pricing h-100 ">
                <a href="http://arena.fpt.edu.vn/gioi-thieu/cac-giai-thuong/" class="my-4 heading  text-left fa fa-gift "> CÁC GIẢI THƯỞNG</a>
                <p>Trong hơn 12 năm đào tạo và phát triển, FPT Arena đã gặt hái được rất nhiều giải thưởng uy tín trong và ngoài nước, vinh danh các cá nhân và tập thể sinh viên, đội ngũ giảng viên xuất sắc.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container" style="background:gainsboro;">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="mb-0 text-primary">Giải thưởng cuộc thi gần nhất</h2>
                <p class="color-black-opacity-5">Cuộc thi thiết kế với con số 13</p>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon-award"></span></div>
                    <div class="hover14">
                        <h3>Giải Nhì</h3>
                        <figure><img src="http://arena.fpt.edu.vn/homecoming/wp-content/uploads/2017/08/SMILE-AND-HAPPYNESS-13-Nguyễn-Mạnh-Hùng_0168.551.6223.jpg" width="300px" alt=""></figure>
                        <p>Bài dự thi: Nguyễn Mạnh Hùng (tác phẩm 01)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary "></span></div>
                    <div class="hover14">
                        <h3>Giải Nhất</h3>
                        <figure><img src="http://arena.fpt.edu.vn/homecoming/wp-content/uploads/2017/08/DB_NguyenThaoNguyen.jpg" width="300px" alt=""></figure>
                        <p>
                            DesignBold_Nguyễn Thảo Nguyên

                            Bài dự thi: Nguyễn Mạnh Hùng (tác
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4"><span class="text-primary flaticon"></span></div>
                    <div class="hover14">
                        <h3>Giải Ba</h3>
                        <figure><img src="http://arena.fpt.edu.vn/homecoming/wp-content/uploads/2017/08/ảnh.png" width="300px" alt=""></figure>
                        <p>Bài dự thi: Nguyễn Mạnh Hùng (tác phẩm 02)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section block-13">
    <div class="container text-center">
        <h2>Giải nhất các cuộc thi gần đây </h2>
    </div>

    <div class="owl-carousel nonloop-block-13">
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/home/images/img_1.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cuộc thi Fan style</h3>
                    <p class="px-5">Trang chí arena. Tôi yêu arena. Tôi yêu thiết kế đồ họa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/home/images/img_2.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cuộc thi thiết kế với con số 13</h3>
                    <p class="px-5">Mười_ba] Sợ hãi hay ôm ấp? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/home/images/img_3.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cuộc thi truy tìm cổ vật FPT Arena </h3>
                    <p class="px-5">Truy tìm cổ vật FPT Arena – Tìm lại phần kí ức lạc trôi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus </p>
                </div>
            </a>
        </div>
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/home/images/img_4.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cuộc thi "KIỀU” PHOTO CONTEST</h3>
                    <p class="px-5">Sinh viên chụp ảnh về đề tài phụ nữ. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/home/images/img_5.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cuộc thi " Giấc mơ Mỹ"</h3>
                    <p class="px-5">Thiết Kế Poster & Trailer cho bộ phim điện ảnh Giấc mơ Mỹ Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempore ullam minus voluptate libero.</p>
                </div>
            </a>
        </div>

    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Cuộc thi đang diễn ra</h2>
                <p class="color-black-opacity-5">Cuộc thi chế ảnh online: Biệt đội Avengers nhí nhố</p>
            </div>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#add6" role="tab" aria-controls="add6" aria-selected="false">Thời gian</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#add7" role="tab" aria-controls="add7" aria-selected="false">Đối tượng tham gia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#add1" role="tab" aria-controls="add1" aria-selected="false">Giải thưởng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#add2" role="tab" aria-controls="add2" aria-selected="false">Cách thức tham gia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#add3" role="tab" aria-controls="add3" aria-selected="false">Thông báo kết quả </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#add4" role="tab" aria-controls="add4" aria-selected="false"> Các quy định khác</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Đầu năm bạn mong muốn điều gì cho năm mới nào? Hãy để các siêu anh hùng mang tới hàng nghìn, hàng triệu "thang thuốc bổ"  cho mọi người qua trí tưởng tượng của bạn! Chỉ cần có khiếu hài hước, sáng tạo hoặc có kỹ năng chế ảnh, chế comic,... thì các thánh chế đã có cơ hội nhận những giải thưởng từ Arena Multimedia rồi đó.</p>
                    Cuộc thi là dịp để các designer bày tỏ, chia sẻ quan điểm, góc nhìn của bản thân về các vấn đề nóng trong cuộc sống theo cách dí dỏm nhất. Đặc biệt hơn, những nhân vật chính trong các tác phẩm chế chính là những siêu anh hùng vô cùng nổi tiếng như Thor, Captain America, Iron Man,… Những người vốn quen với trọng trách bảo vệ hòa bình thế giới lại xuất hiện trong vai trò đồng hành cùng với bạn ở những vùng đất mà bạn mơ ước đặt chân đến? Chắc hẳn chẳng ai nghĩ có thể cùng Superman du lịch ở Paris đâu nhỉ? Hoặc Hulk hùng mạnh của chúng ta lại hô hoán “Anh là ai, tôi không biết anh, anh đi về hành tinh của anh đi” và chạy mất dép. Cộng đồng sáng tạo Arena Multimedia luôn đón chào những người bạn mới cùng đam mê. Hãy tham gia cùng chúng tôi nào các thánh chế!
                </div>
                <div class="tab-pane fade" id="add6" role="tabpanel" aria-labelledby="profile-tab">
                    <h5>Thời gian diễn ra sự kiện 15/01/2018 - 08/02/2018</h5>
                    <ul>
                        <li>15/01/2018 - 22/01/2018: Nhận và bình chọn tác phẩm lần 1</li>
                        <li>22/01/2018 - 29/01/2018: Nhận và bình chọn tác phẩm lần 2</li>
                        <li>29/01/2018 - 05/02/2018: Nhận và bình chọn tác phẩm lần 3</li>
                        <li> 05/02/2018 - 08/02/2018: Tổng kết và chọn ra người thắng cuộc</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="add7" role="tabpanel" aria-labelledby="contact-tab">
                    <p> Tất cả các bạn sinh viên đam mê mỹ thuật và đồ họa của Học viện</p>
                    <p>Không hạn chế số lượng thiết kế của từng cá nhân tham gia cuộc thi</p>
                </div>
                <div class="tab-pane fade" id="add1" role="tabpanel" aria-labelledby="contact-tab">
                    <ul>
                        <li>Vào ngày 08/02/2018, Ban tổ chức (BTC) sẽ tổng hợp ra các tác phẩm thắng cuộc trong từng tuần và một tác phẩm xuất sắc nhất do BTC chọn ra để trao giải.</li>
                        <li>
                            Cơ cấu giải thưởng <ul>
                                <li>Ba giải tuần dành cho 3 thí sinh có tác phẩm nhận được nhiều lượt share, comment và like nhất tuần.</li>
                                <li>Một giải nhất do ban giám khảo bình chọn là tác phẩm có tính sáng tạo cao nhất.</li>
                            </ul>
                        </li>
                        <li>
                            Giá trị giải thưởng
                            <ul>
                                <li>Ba giải tuần mỗi giải trị giá 500.000 vnđ và một balo in logo của Arena Multimedia.</li>
                                <li>Một giải nhất trị giá 2.000.000 vnđ và một balo in logo của Arena Multimedia.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="add2" role="tabpanel" aria-labelledby="contact-tab">
                    <ul>
                        <li>Ảnh chế theo chủ đề là các nhân vật Avenger với mục đích giải trí hài hước, vui nhộn.</li>
                        <li>Ảnh dự thi chỉ chế trong phạm vi văn hóa cho phép, không phản cảm, không xúc phạm tới bất kỳ cá nhân hoặc tổ chức nào.</li>
                        <li>Hình ảnh không được vi phạm thuần phong mỹ tục Việt Nam. Thí sinh tham gia phải tuân thủ các quy định của BTC và chịu trách nhiệm khi có khiếu kiện liên quan tới bài dự thi.</li>
                        <li>Ảnh gửi đăng tải dự thi phải ở dạng file JPG có dung lượng tối thiểu 1MB, tối đa 3MB</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="add3" role="tabpanel" aria-labelledby="contact-tab">
                    <ul>
                        <li>Thông báo kết quả: Danh sách người đoạt giải sẽ được công bố trên fanpage. Đồng thời, các thí sinh giành được giải thưởng sẽ được thông báo qua email và điện thoại.</li>
                        <li>Sau 01 tuần công bố kết quả, nếu người đoạt giải không liên hệ làm thủ tục nhận thưởng thì giải thưởng sẽ được trao cho người có số điểm cao kế tiếp.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="add4" role="tabpanel" aria-labelledby="contact-tab">
                    <ul>
                        <li>Số lượng bình chọn Share, Comment, Like hợp lệ được tính dựa trên lượt Share, Comment, Like cho bức ảnh được upload trên trang Facebook của Arena Multimedia và nằm trong thời gian bình chọn đã nêu ở trên.</li>
                        <li>Comment hợp lệ là comment mang nội dung có ý nghĩa, có ít nhất 3 từ. Mỗi tài khoản được comment  nhiều lần nhưng chỉ được tính 1 lần duy nhất trong trường hợp có nhiều comment cùng hợp lệ. Những comment mang tính chất thô tục, chửi bậy hay đả kích sẽ không được tính điểm và bị BTC xoá đi.</li>
                        <li>Mỗi tài khoản Facebook được gửi nhiều bài dự thi nhưng chỉ được nhận 1 giải cao nhất trong trường hợp nhiều bài dự thi cùng trúng giải.</li>
                        <li>Tài khoản Facebook phải là tài khoản thật, có trên 50 bạn và có tương tác ít nhất trong thời gian 1 tháng gần nhất (phải để chế độ public để BTC có thể kiểm tra). Những tài khoản không đủ điều kiện trên sẽ không được xét giải.</li>
                        <li>Người tham gia phải chịu trách nhiệm về các vấn đề bản quyền liên quan đến ảnh dự thi.</li>
                        <li>Sau thời gian thông báo trao giải nếu người trúng giải không đến nhận đúng thời gian quy định thì ban tổ chức có quyền hủy giải thưởng.</li>
                    </ul>
                    Còn chần chừ gì mà không tham gia nào các thánh chế ơi!!!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-blocks-cover overlay inner-page-cover" style="
        background-image: url('https://media.tinmoi.vn/2012/04/10/6_48_1334033236_16_Poster_cdb33.jpg');
       background-attachment: fixed;">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="400">
                <h2 class="text-white font-weight-light mb-5 h1">Cuộc thi sắp tới</h2>
                <p>Hiện tại chưa có cuộc thi sắp tới</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">News</h2>
                <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
            </div>
        </div>
        <div class="row mb-3 align-items-stretch">
            <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
                <div class="h-entry hover01">
                    <figure><img src="http://arena.fpt.edu.vn/wp-content/uploads/bfi_thumb/Le-Ton-VInh-Sinh-Vien-FAI-HN-2019-fbcover-o3w2du1l4r0j94nuweixeed08veo6zbyhj086adg9e.jpg" alt="Image" class="img-fluid"></figure>
                    <h2 class="font-size-regular">
                        <a href="#">
                            FAI Hà Nội – Lễ tôn vinh sinh viên xuất sắc học kỳ Fall 2018
                        </a>
                    </h2>
                    <div class="meta mb-4">by fpt arena <span class="mx-2">&bullet;</span>22/02/2019 | 21 views<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
                    <p>Sắp tới đây vào ngày 28/2, Viện Đào tạo Quốc tế FPT Hà nội (FAI Hà Nội) sẽ tổ chức Lễ tôn vinh sinh viên xuất sắc học kỳ Fall 2018 trang trọng và ấm cúng tại hội trường B9, tòa nhà Detech số 8 Tôn Thất Thuyết, Nam Từ Liêm. Trong buổi Lễ hứa hẹn sẽ có những cái tên có thành tích học tập xuất sắc được xướng tên vinh danh trên bảng vàng...</p>
                    <a href="http://arena.fpt.edu.vn/le-ton-vinh-sinh-vien-xuat-sac-hoc-ky-fall-2018-fai-ha-noi/">Xem thêm >>></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 mb-4 mb-lg-4">
                <div class="h-entry hover01">
                    <figure><img src="http://arena.fpt.edu.vn/wp-content/uploads/bfi_thumb/Nu-cuoi-am-FAI-HN-20-1-o2h9xr67iqt8c1t7akzejvjis1x25oaqikygmce55e.jpg" alt="Image" class="img-fluid"></figure>
                    <h2 class="font-size-regular">
                        <a href="#">
                            Nhìn lại hành trình thiện nguyện mang nụ cười ấm tới xã nghèo vùng cao tại Lào Cai của sinh viên FAI Hà Nội
                        </a>
                    </h2>
                    <div class="meta mb-4">by Theresa Winston <span class="mx-2">&bullet;</span> 24/01/2019 | 138 views <span class="mx-2">&bullet;</span> <a href="#">News</a></div>
                    <p>Ngày 11/1, đoàn sinh viên tình nguyện Viện Đào tạo Quốc tế FPT Hà Nội (FAI Hà Nội) đã tổ chức chương trình “Nụ Cười Ấm” tại trường PTDTBT THCS Nậm Tha và trường PTDTBT Tiểu học Nậm Tha, huyện Văn Bàn, tỉnh Lào Cai. Đây là 2 ngôi trường hiện đang chăm sóc và giảng dạy với tổng số gần 500 học sinh người dân tộc thuộc diện hộ nghèo, đặc biệt khó khăn...</p>
                    <a href="http://arena.fpt.edu.vn/nu-cuoi-tam-nam-tha-lao-cai/">Xem thêm >>></a>
                </div>
            </div>
        </div>
        <center>
            <a href="http://arena.fpt.edu.vn/tin-tuc/">
                <img src="http://arena.fpt.edu.vn/wp-content/themes/fpt/images/blog-more.png" alt="">
            </a>
        </center>
    </div>
</div>